---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "../components/Footer.astro";
import NewLetter from "../components/Newletter.astro";
import Home from "../components/Home.astro";
import "../styles/global.css";
import aboutcover from '../assets/ri_12 1.svg';
import ourmission from '../assets/our mission BG img (1).png';
---
<Layout>
  <Navbar />
    <div class="relative">
    <img src={aboutcover.src} class="w-full" alt="About Cover" />
    <!-- <div class="absolute mt-10 left-[950px] border w-96 opacity-50 bg-black p-4">
      <div class="text-white text-center font-semibold mb-2">What's News</div>
      <ol class="text-white text-sm list-disc pl-5">
        <li>Inauguration of the School of Sustainability at IIT Madras.</li>
        <li class="pt-2">Collaborations launched with global institutions on climate research.</li>
        <li class="pt-2">Student-led sustainability hackathon winners announced.</li>
        <li class="pt-2">MoU signed with policy think tanks for joint research.</li>
        <li class="pt-2">Upcoming workshop: 'Net Zero and Beyond'.</li>
      </ol>
    </div> -->
  </div>
  <div class="text-white py-10">
    <div class="flex justify-center items-center gap-8 text-[#3DAA6F] font-semibold">
      <div>WHO WE ARE</div>
      <div>|</div>
      <div>OUR VISION</div>
      <div>|</div>
      <div>OUR MISSION</div>
    </div>
  </div>
  <main>
      <div class="relative">
          <div class="flex justify-end item-center"><img src={ourmission.src} class=""/></div>
          <div class="absolute top-1/3 [@media(min-width:1400px)]:left-[333px] left-[100px] text-[32px] font-[700]">WHO <span class="text-white">WE ARE</span></div>
          <div class="absolute top-[50px] [@media(min-width:1400px)]:left-[800px] left-[400px] text-white text-[24px]">The School of Sustainability at IIT Madras is a hub for interdisciplinary learning and research. We bring together experts, students, and communities to address complex environmental challenges. Our focus lies in integrating technology, policy, and societal perspectives for sustainable solutions. Through education, collaboration, and innovation, we aim to shape responsible future leaders. We believe sustainability is not a subject—it's a way of thinking, living, and progressing.</div>
      </div>
      <div class="relative mt-8">
          <div class="flex justify-start item-center"><img src={ourmission.src} class=""/></div>
          <div class="absolute top-1/3 [@media(min-width:1400px)]:right-[289px] right-[65px] text-[32px] font-[700]"><span class="text-white">OUR</span> <span class="text-black">VISION</span></div>
          <div class="absolute top-[50px] [@media(min-width:1400px)]:right-[200px] right-[50px] text-white pr-[300px] px-3 flex justify-center item-center text-[24px]">The school’s vision is to be the go-to place for policymakers and researchers for an understanding of sustainability related technologies and policy implications. The school aims to be recognized as a leader for sustainability teaching and research in the global south.</div>
      </div>
      <div class="relative mt-8">
          <div class="flex justify-end item-center"><img src={ourmission.src} class=""/></div>
          <div class="absolute top-1/3 [@media(min-width:1400px)]:left-[333px] left-[110px] text-[32px] font-[700]">OUR <span class="text-white">MISSION</span></div>
          <div class="absolute top-[50px] [@media(min-width:1400px)]:left-[800px] left-[400px] text-white text-[24px]">Foster interactive and innovative teaching approaches for students and professionals to deepen our understanding of sustainability.
Drive integrated, interdisciplinary research on sustainability in areas such as climate change, decarbonization, sustainable settlements, and behavioral change.
Create impactful change by collaborating with industry, engaging in policy dialogues, and helping implement solutions on the ground.</div>
      </div>
  </main>
  <Footer />
</Layout>