---
import imageUrl from  "../assets/logo_sos-removebg-preview.webp";
---
<style>
  .texr{
    color: black
  }
</style>


<nav class={`fixed w-full z-50 ${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border border-gray-200' : 'bg-transparent'}`}>
  <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto py-2 px-2">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src={imageUrl.src} class="h-[60px] md:h-[80px]" alt="Loho" />
    </a>
    <button id="mobile-menu-button" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
    <ul class={`font-medium flex flex-col p-4 md:p-0 mt-4 border ${['/', '/about'].includes(Astro.url.pathname) ? 'border-gray-100 bg-gray-50 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900' : 'border-transparent bg-transparent'} rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 text-sm`}>
          <li>
            <a href="/about" class={` ${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>ABOUT</a>
          </li>
          <li>
            <a href="/research" class={`${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>RESEARCH</a>
          </li>
          <li>
            <a href="/programs" class={`${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>PROGRAM OFFERED</a>
          </li>
          <li>
            <a href="/outreach" class={`${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>OUTREACH</a>
          </li>
          <li>
            <a href="/knowledgehub" class={`${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>KNOWLEDGE HUB</a>
          </li>
          <li>
            <a href="/sustainability-iitm" class={`${['/', '/about'].includes(Astro.url.pathname) ? 'bg-white dark:bg-gray-900 border-gray-200' : 'bg-transparent text-white'} block py-2 px-3 rounded-sm md:p-0 font-semibold text-[16px]`}>SUSTAINABILITY@IITM</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    const button = document.getElementById('mobile-menu-button');
    const menu = document.getElementById('navbar-default');
    
    if (button && menu) {
      button.addEventListener('click', function() {
        menu.classList.toggle('hidden');
        const isExpanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', !isExpanded);
      });
    }
  });
</script> -->