---

---

<div class="bg-emerald-700 mb-3 rounded md:rounded-lg">
  <!-- Grid for main content  -->
  <!-- <div
    class="grid grid-cols-1 md:grid-cols-2 px-4 md:px-16 pt-12 md:pt-24 pb-12 md:pb-20 gap-8 lato"
  > -->
  <div
    class="mx-auto grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2"
  >
    <!-- Column 1: Brand and Contact Info -->
    <div class="col-span-2">
      <h2 class="text-black brand text-2xl md:text-xl">Contact us</h2>
    </div>

    <div class="max-w-xl lg:max-w-lg">
      <h2 class="text-4xl font-semibold tracking-tight text-white">
        Subscribe to our newsletter
      </h2>
      <div class="mt-6 flex max-w-md gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="min-w-0 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          placeholder="Enter your email"
        />
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="min-w-0 flex-auto rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >Subscribe</button
        >
      </div>
    </div>
  </div>
</div>
