---
import "../styles/global.css";
---

<section class="py-6 sm:py-12 sm:px-3 lg:px-8">
  <div
    class="overflow-hidden bg-gray-900 px-6 pt-12 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-16 lg:px-24 lg:pt-0"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div class="text-center lg:text-left py-8 lg:py-16">
        <h2 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">
          From The Director
        </h2>
        <span class="block text-gray-300 mt-2">- Prof. V. Kamakoti</span>
        <p class="mt-4 text-lg leading-7 text-white">
          "Sustainability plays a pivotal role in our National Education Policy.
          Every domain of engineering and technology is increasingly aligning
          with one or more of the United Nations' seventeen Sustainable
          Development Goals. This convergence is accelerating, as seen in the
          numerous G20 events held in India in 2023. In this light, the School
          of Sustainability reflects IIT Madras' strong commitment to capacity
          building and impactful action in this vital area."
        </p>
      </div>
      <div class="flex justify-center lg:justify-end">
        <img
          src="../../public/images/Rajnish-Kumarv.svg"
          alt="Professor V. Kamakoti"
          class="rounded-xl object-cover h-64 w-64 lg:h-80 lg:w-80"
        />
      </div>
    </div>
  </div>
</section>

<!-- ---
// HeadOfSchoolSection.astro
--- -->

<section class="py-6 sm:py-12 sm:px-3 lg:px-8">
  <div
    class="overflow-hidden bg-gray-900 px-6 pt-12 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-16 lg:px-24 lg:pt-0"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div class="text-center lg:text-left py-8 lg:py-16">
        <h2 class="text-2xl font-bold tracking-tight text-white sm:text-3xl">
          From The Head of the School
        </h2>
        <span class="block text-gray-300 mt-2">- Prof. Rajnish Kumar</span>
        <p class="mt-4 text-lg leading-7 text-white">
          "The School of Sustainability at IIT Madras will concentrate on three
          key areas: (I) transforming IIT Madras into a NetZero, sustainable
          campus; (II) embedding sustainability into the academic curriculum;
          and (III) unifying government and industry-funded research aligned
          with the UN Sustainable Development Goals. Through science, practical
          implementation, and policy interventions, the School aims to create a
          comprehensive impact towards achieving a NetZero India."
        </p>
      </div>
      <div class="flex justify-center lg:justify-end">
        <img
          src="../../public/image/V.Kamakoti.svg"
          alt="Head V.Kamakoti "
          class="rounded-xl object-cover h-64 w-64 lg:h-80 lg:w-80"
        />
      </div>
    </div>
  </div>
</section>
